# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
/.vs
/out

# Temporary files created by the best editor ever (joe)
*~

/3rdParty/GoogleTest/src-extra/gtest-all.cc
/3rdParty/include
/3rdParty/PNG/code
/3rdParty/ZLIB/zlib
